h1{
   text-align: center;
}

.spacer{
   height: 100px;
}

.table{
   empty-cells: hide;
}

.num-head {
   width: 7%;
   background-color: aliceblue !important;
}

.num-input {
   width: 75%;
}

.num-question-input{
   width: 25%;
}

.questions-list{
   text-align: center;
}

.check-btn{
   width: 200px;
   padding: 20px 10px;
}

#questions{
   margin: 10px;
}